<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Content</th>
        <th scope="col">Category Type</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.content %></td>
          <td><%= post.category.title %></td>
          <td><%= link_to "Show", post, class: "btn btn-primary" %> </td>
          <td><%= link_to "Edit", edit_post_path(post), class: "btn btn-primary"  %> </td>
          <td><%= link_to "Destroy", post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New post", new_post_path %>
